# Игнорировать файлы конфигурации
     .env

     # Игнорировать папку виртуального окружения
     venv/
     .venv/

     # Игнорировать файлы кэша
     __pycache__/
     *.pyc

     # Игнорировать файлы и папки IDE
     .idea/
     *.iml
     .vscode/
     *.code-workspace